body {
  font: 10pt "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.enabled {
  background-color: green;
  color: white;
}

.disabled {
  background-color: red;
  color: white;
}

.selected {
  outline : 4px solid black
}

.deselected {
  outline : 0px solid black
}

button {
  margin : 10px;
  font: 10pt "Century Gothic", Futura, sans-serif;
}
